@import 'vendors/bourbon/_bourbon.scss';
@import "vendors/neat/neat";
@import "vendors/neat/neat-helpers";
@import "vendors/bootstrap-sprockets";
@import "vendors/bootstrap";

$navheight: 60px;
$font-stack:  'Source Sans Pro', sans-serif;;
$primary-color: #333;
$secondary-color: #fff;
$fullheight: 100%;
$backnormal: #000;
$backnormal2: #555;
$backhover: #333;


$logobreak: 900px;
$break-medium: 1200px;
$break-lower: 900px;
$break-smallvile: 600px;
$break-small: 460px;

header {
   @media screen and (min-width: $break-lower) {
        display: none;
    }
}

html,
body,
ul,
ol {
   margin: 0;
  padding: 0;
  font-family: $font-stack;
}

html {
  font-family: $font-stack;
}

#wrapper {
  padding-right: 90px;
  transition: all 0.2s 0s;
  background-color: #333;
     @media screen and (max-width: $break-lower) {
          padding-right: 0px;
    }
}

#sidebar-wrapper {
  margin-right: -250px;
  right: 90px;
  width: 250px;
  background: #191919;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  transition: all 0.2s 0s;

    @media screen and (max-width: $break-lower) {
        display: none;
    }


}

#wrapper.active {
  padding-right: 200px;
}

#wrapper.active #sidebar-wrapper {
  right: 200px;
}

#page-content-wrapper {
  width: 100%;
  transition: all 0.2s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color:#000;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
  background-color: #191919;
}

.sidebar-nav li a {
  color: #fff;
  display: block;
  text-decoration: none; 
  background-color: #191919;
      padding: 10px 39px;

}


.sidebar-nav li a span {
 padding-left:20px;
 opacity:0;
}


.sidebar-nav li a:hover span {
 padding-left:20px;
}

.sidebar-nav li a span, .sidebar-nav li a:hover span {
  padding-left:2px;
}

.sidebar-nav li a div {

      padding: 10px 15px;

}

.sidebar-nav li a span:before {
  position: absolute;
  right: 0;
  color: #41484c;
  text-align: center;
  width: 20px;
  line-height: 18px;
}

.sidebar-nav li a:hover{
  background-color: #131313;
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
    background-color: #131313;
}



#menu-toggle {
  width: 200px;
  height: 200px;
    text-decoration: none;
    float: left;
    color: #fff;
    padding-right: 15px;
}

@media (max-width:767px) {

#wrapper {
  padding-right: 0;
}

#sidebar-wrapper {
  right: 0;
}

#wrapper.active {
  position: relative;
  right: 250px;
}

#wrapper.active #sidebar-wrapper {
  right: 250px;
  width: 250px;
  transition: all 0.2s 0s;
}

#menu-toggle {
  display: inline-block;
}

}


/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.header-unit {
  height: 100vh;
  border: 2px solid #000;
  border-right:none;
  border-left: none;
  position: relative;
    padding: 0px 20px 00px 60px;

    @media screen and (max-width: $break-small) {
        padding: 0 20px 00px 30px;  height: 90vh;
    }

}


#video-container {
  position: absolute;
}
#video-container {
  top:0%;
  left:0%;
  width: 100%;
  height:100vh;
  overflow: hidden;
}
#video {
  position:absolute;
  z-index:0;
}
#video.fillWidth {
  height: 107vh;
}

.logo {
    z-index: 9999999;
    position: relative;
        @media screen and (max-width: $logobreak) {
           display: none;
          }
}

.logo02 {
height: 35px;
}

.controls01 {
  position: relative;
  z-index: 9999;
  top: 90%;

}

.mySlides {
  width: 80%;
  padding-top: 12vh;
   @media screen and (max-width: $break-small) {
            padding-top: 17vh;
    }
}

.mySlides h3 {
  width: 80%;
  position: relative;
  z-index: 9999;
  color: #fff;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;

    @media screen and (max-width: $break-medium) {
      font-size: 2.8em;
      float: none;
    }

    @media screen and (max-width: $break-lower) {
      font-size: 2em;
      float: none;
    }

    @media screen and (max-width: $break-smallvile) {
        width: 90%;
      font-size: 1.8em;
      float: none;
    }

    @media screen and (max-width: $break-small) {
        width: 90%;
      font-size: 1.1em;
      float: none;
    }
}

.botao-home {
  display: block;
  width: 370px;
  height: 80px;
  background-image: url(img/botao-home.png);
  background-repeat: no-repeat;
  background-size: contain;
  position:relative;
  z-index: 9999999;
  font-size: 1.5em;
  color: #fff;
  font-weight: 300;
  letter-spacing: 1.8px;
  padding:23px;
  text-align: center;
  top: 40px;
  cursor: pointer;

    @media screen and (max-width: $break-medium) {
      width: 320px;
      padding: 21px;
      font-size: 1.2em;
    }


    @media screen and (max-width: $break-lower) {
      width: 250px;
      padding: 0;
      font-size: 0.9em;
      padding-top: 10px;


    }
    @media screen and (max-width: $break-small) {
       padding: 14px 2px 5px 7px;
        
    }

      &:hover { text-decoration: none; color: #fff;}

}

.botao-home img {
      @media screen and (max-width: $break-small) {
        width: 25px;

    }
}


.arrow-home {
  width:25px;
  height:25px;
  background-image: url(img/arrow-home.png);
  background-repeat: none;
  position:relative;
  z-index: 9999999;
}


.w3-btn {
  background-color: #ffffff;
  border:none;
  border-radius: 20px;
  width: 15px;
  height: 15px; 
  margin-right: 5px;
}


.w3-btn:hover {
  background-color: #e0b51f;
  border:none;
  border-radius: 20px;
  width: 15px;
  height: 15px;
}

.w3-red {
  background-color: #e0b51f;
}

  .overlay {
    z-index: 999999999999999999;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    position: fixed;
    bottom:0;
    left: 0;
    display: none;
    text-align: center;
  }

  .overlay video {
    z-index: 99999999999999999999999;
    width: 100%;
    height: 100vh;
  }


.i-menu  {
  background-image: url(img/menu/sprite.png);
  width: 20px;
  height: 20px;
  float: left;
  position: relative;
  top: 8px;
     @media screen and (max-width: $break-lower) {
        top: 18px;
        width: 28px;
        height: 28px;
    }
}

.homei {
background-position: -16px 349px;
  &:hover, &.hovered {
    background-position: 37px 349px;
  }

}

.contatoi {
background-position: -18px 408px;
        &:hover, &.hovered {
        background-position: 35px 408px;
      }
}

.vagasi {
  background-position: -16px 461px;
        &:hover, &.hovered {
        background-position: 37px 461px;
      }
}

.clientesi {
      background-position: -17px 509px;
        &:hover, &.hovered {
        background-position: 36px 509px;
      }
}

.lideresi {
  background-position: -18px 559px;
        &:hover, &.hovered {
        background-position: 35px 559px;
      }
}

.trabalhosi {
      background-position: -16px 611px;
        &:hover, &.hovered {
        background-position: 37px 611px;
      }
}

.agenciai {
      background-position: -15px 661px;
        &:hover, &.hovered {
        background-position: 38px 661px;
      }
}

.topnav {
       @media screen and (min-width: $break-lower) {
            display: none;
    }
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #191919;
}

/* Float the list items side by side */
ul.topnav li {float: left; }

/* Style the links inside the list items */
ul.topnav li a {

    height: 60px;
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.topnav li a:hover {background-color: #555;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {display: none;}

@media screen and (max-width:900px) {
  ul.topnav li:not(:first-child) {display: none;}
  ul.topnav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:900px) {
  ul.topnav.responsive {position: relative;}
  ul.topnav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.topnav.responsive li {
    float: none;
    display: inline;
  }
  ul.topnav.responsive li a {
    display: block;
    text-align: left;
  }
}

#trabalhos {

height: 100vh;
width: 100%;

}

#trabalhos .flexes {
 width: 25%;
height: 100vh;
float: left;

  @media screen and (max-width: $break-lower) {
    width: 100%;
    height: 25vh;
    }

}


.blue {
 background-color: #333;
}


.purple {
 background-color: #222;
}


.green {
 background-color: #777;
}


.pink {
 background-color: #999;
  
}

.page-content {
  overflow: hidden;
}

